@charset "UTF-8";

/* Configs gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
}

header > h1 {
    color: black;
}

menu {
    background-color: rgb(29, 29, 29);
    color: white;
    padding-left: 10px;
    border-radius: 10px;
}